.links{
    position: absolute;
    margin-top: -330px;
}

.link{
    margin-left: 450px;
    font-size: 40px;
    color: #000;
    text-decoration: none;
}

.link:hover{
    color: #4facfe;
}

.spisok{
    list-style: none;
}

.color{
    position: relative;
    width: 700px;
    height: 350px;
    margin-top: 250px;
    margin-left: 460px;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno2 {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 15px;
    /*border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}
#zatemnenie:target {display: block;}

.close {
    display: inline-block;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    font-size: 14pt;
    cursor:pointer;
    border-radius: 10px 10px 10px 10px;
}

.close:hover {background: #e6e6ff;}


h4{ /*C*/
    position: absolute;
    margin-top: 200px;
    font-size: 50px;
    margin-left: 450px;
}

h5{ /*O*/
    position: absolute;
    margin-top: 200px;
    font-size: 40px;
    margin-left: 490px;
}

h6{ /*N*/
    position: absolute;
    margin-top: 180px;
    font-size: 70px;
    margin-left: 520px;
}

h7{ /*T*/
    position: absolute;
    margin-top: 200px;
    font-size: 40px;
    margin-left: 600px;
}

h8{ /*A*/
    position: absolute;
    margin-top: 200px;
    font-size: 50px;
    margin-left: 650px;
}

h9{ /*C*/
    position: absolute;
    margin-top: 170px;
    font-size: 100px;
    font-weight: 200;
    margin-left: 700px;
}

h10{ /*T*/
    position: absolute;
    margin-top: 200px;
    font-size: 50px;
    margin-left: 750px;
}

h11{ /*S*/
    position: absolute;
    margin-top: 100px;
    font-size: 150px;
    margin-left: 800px;
}